.logo {
  width: 100%;
  background-color: white;
  /* padding: 20px; */
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  height: 117px;
}

.icon {
  margin: 50px;
  margin-left: 10%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  /* background-color: #111111; */
  background-color: #333333;
}

div a {
  color: white;
}

div a:hover {
  color: #70103f;
}

a {
  text-decoration: none;
  margin-top: 1%;
  padding-bottom: 1%;
}

.sticky-header {
  display: flex;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-between;
  background-color: #0d0d0d;
}

.top-header {
  display: flex;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-between;
  background-color: #0d0d0d;
  height: 2vh;
  padding-top: 1vh;
  font-size: 10px;
  padding-bottom: 1vh;
}
